* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  background: #222;
}

section {
  overflow-x: hidden;
}


/* Helpers */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vhelper {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.3rem;
  margin-top: 1rem;
}

/* Components */

.btn-white {
  background: -webkit-linear-gradient(right, white 50%, #00B388 50%);
  background: linear-gradient(to left, white 50%, #00B388 50%);
  background-size: 200% 200%;
  background-position: right bottom;
  color: #05abe0;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 1rem 2.4rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  min-width: 16rem;
}

.btn-white:hover,
.btn-white:active {
  background-position: left bottom;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 360px) {
  .btn-white {
    margin-bottom: 0.5rem;
    width: 80%;
  }
}

.divider {
  width: 0;
  height: 0;
  bottom: 0;
}


/* Text */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}


/* Colors */

.red {
  color: #C8102E
}

.red-bg {
  background: #C8102E
}

.red2 {
  color: #960C22
}

.red2-bg {
  background: #960C22
}

.red3 {
  color: #640817
}

.red3-bg {
  background: #640817
}

.teal {
  color: #00B388
}

.teal-bg {
  background: #00B388
}

.teal2 {
  color: #00866C
}

.teal2-bg {
  background: #00866C
}

.teal3 {
  color: #005950
}

.teal3-bg {
  background: #005950
}

.white {
  color: #fff;
}

.white-bg {
  background: #fff;
}


/* Home */

.home {
  background: #05abe0;
  background: -moz-linear-gradient(top, #05abe0 0%, #87e0fd 100%);
  background: -webkit-linear-gradient(top, #05abe0 0%, #87e0fd 100%);
  background: linear-gradient(to bottom, #05abe0 0%, #87e0fd 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd', GradientType=0);
  height: 100vh;
  padding-top: 4rem;
  position: relative;
}

.home .content {
  position: relative;
  z-index: 1
}

.home .logo {
  padding: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 60rem;
}

.home .mars {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 0
}

.home .title {
  display: none;
}

.home h3 {
  margin: 0.5rem;
}

.home .university {
  font-weight: 300;
}

.home .university > .uni {
  font-weight: 500;
}

.home .university > .houston {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .home {
    max-height: 60rem
  }
  .home .logo {
    max-width: 40rem
  }
}

@media screen and (max-width: 480px) {
  .home {
    max-height: 48rem
  }
  .home .logo {
    max-width: 36rem
  }
}

@media screen and (min-width: 768px) {
  .home .date,
  .home .university {
    font-size: 3.6rem;
  }
}


/* About */

.about {
  background: #F78753;
  color: #fff;
  padding: 2rem 0;
}

.about .bold {
  font-weight: 500;
}

.about p {
  font-size: 2rem;
}

/* Health */

.health {
  background: #00B388;
  color: #fff;
}

.health .divider {
  background: #F78753;
  border-bottom: 8rem solid #00B388;
  border-right: 100vw solid transparent;
}


/* Sponsors */

.sponsors {
  background: #fff;
  padding-bottom: 4rem;
}

.nodes {
  text-align: center;
}

.nodes > div {
  margin-bottom: 0.5rem;
}

.sponsors .divider {
  background: #00B388;
  border-bottom: 8rem solid white;
  border-left: 100vw solid transparent;
}


/* Footer */

.footer .divider {
  background: #fff;
  border-bottom: 8rem solid #222;
  border-right: 100vw solid transparent;
}

.footer {
  background: #222;
  color: #fff;
  font-size: 2.4rem;
  padding-bottom: 3rem;
}
