* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  background: #222;
}

section {
  overflow-x: hidden;
}


/* Helpers */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Components */

.btn-white {
  background: -webkit-linear-gradient(right, white 50%, #00B388 50%);
  background: linear-gradient(to left, white 50%, #00B388 50%);
  background-size: 200% 200%;
  background-position: right bottom;
  border: none;
  color: #05abe0;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.42857143;
  margin: 0.5rem;
  padding: 1.5rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  min-width: 16rem;
}

.btn-white:hover,
.btn-white:active {
  background-position: left bottom;
  color: #fff;
  text-decoration: none;
}

.btn-group {
  display: flex;

}
.btn-radio input {
  display: none !important;
}
.btn-radio {
  /*height: 2rem;*/
  font-size: 2rem;
  line-height: 1;
  padding: 1em 2em;
  flex: 1 1 auto;
  background-color: #dddddd;
  text-align: center;
  margin-right: 1px;
}
.btn-radio:hover {
  background-color: #cccccc;
}
.btn-radio:active {
  background-color: #aaaaaa;
}
.btn-radio.selected {
  background-color: #00b388;
}

.btn-group .btn-radio:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.btn-group .btn-radio:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
  margin-right: 0;
}

@media screen and (max-width: 360px) {
  .btn-white {
    margin-bottom: 0.5rem;
    width: 80%;
  }
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}

h2 {
  font-size: 3.6rem;
}

.uppercase {
  text-transform: uppercase;
}

.divider {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 98;
  margin-bottom: -50px;
}

/* Colors */

.red {
  color: #C8102E
}

.red-bg {
  background: #C8102E
}

.red2 {
  color: #960C22
}

.red2-bg {
  background: #960C22
}

.red3 {
  color: #640817
}

.red3-bg {
  background: #640817
}

.teal {
  color: #00B388
}

.teal-bg {
  background: #00B388
}

.teal2 {
  color: #00866C
}

.teal2-bg {
  background: #00866C
}

.teal3 {
  color: #005950
}

.teal3-bg {
  background: #005950
}

.white {
  color: #fff;
}

.white-bg {
  background: #fff;
}

.blue {
  color: #05abe0;
}


/* Home */

.home {
  background: #05abe0;
  background: -moz-linear-gradient(top, #05abe0 0%, #87e0fd 100%);
  background: -webkit-linear-gradient(top, #05abe0 0%, #87e0fd 100%);
  background: linear-gradient(to bottom, #05abe0 0%, #87e0fd 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd', GradientType=0);
  height: 100vh;
  padding-top: 4rem;
  position: relative;
}

.home .content {
  position: relative;
  z-index: 1
}

.home .logo {
  padding: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 60rem;
}

.home .date {
  font-weight: 300;
  font-size: 3rem;
  margin: 0.5rem 0;
}

.home .mars {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 0
}

.home .title {
  display: none;
}

.home h3 {
  margin: 0.5rem;
}

.home .university {
  font-weight: 300;
}

.home .university > .uni {
  font-weight: 500;
}

.home .university > .houston {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .home {
    max-height: 60rem
  }
  .home .logo {
    max-width: 40rem
  }
}

@media screen and (max-width: 480px) {
  .home {
    max-height: 48rem
  }
  .home .logo {
    max-width: 36rem
  }
}

@media screen and (min-width: 768px) {
  .home .date,
  .home .university {
    font-size: 3.5rem;
  }
}


/* About */

.about {
  background: #F78753;
  color: #fff;
  padding: 4rem 0;
}

.about .bold {
  font-weight: 500;
}

.about p {
  font-size: 2rem;
}

.about-divider.divider polyline {
  fill: #F78753;
}


/* tracks */

.tracks {
  background: #00B388;
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.tracks img {
  height: 6rem;
}

.tracks h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 0.8rem;
  text-transform: uppercase;
}

.tracks h4 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.tracks .row > div {
  text-align: center
}

.tracks-divider.divider polyline {
  fill: #00B388;
}

/* FAQ */

.faq {
  color: #fff;
  background-color: #0CAEE1;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.faq h4 {
  font-weight: bold;
}

.faq-divider.divider polyline {
  fill: #0CAEE1;
}

/* Schedule */
.schedule {
  background-color: #C8102E;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.schedule h4 {
  font-weight: bold;
}

.schedule-divider.divider polyline {
  fill: #C8102E;
}

/* Sponsors */

.sponsors {
  background: #fff;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.interested {
  font-size: 2rem;
}

.nodes {
  text-align: center;
}

.nodes > [class*=' col-'] {
  display: inline-block;
  float: none;
  margin-bottom: 1rem;
  margin-right: -0.3rem;
  margin-top: 1rem;
  vertical-align: middle;
}

.company-nodes > [class*=' col-'] {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.sponsors .divider {
  background: #fff;
}

.sponsors-divider.divider polyline {
  fill: #fff;
}

@media screen and (max-width: 768px) {
  .company-nodes > [class*=' col-'] {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}

/* Registration */
.page.content {
/*   transition: height 0.5s cubic-bezier(0.19, 1, 0.22, 1); */
}
.page:not(.current) .content {
  overflow: hidden;
  height: 0;
}
.page.current {
/*   height: 100px; */
}


/* Footer */

.footer {
  background: #222;
  color: #fff;
  font-size: 2.4rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

/* Sponsor */

.iframe {
  width: 100%;
  height: 1400px;
}

.sponsor .home {
  height: auto !important;
}

.sponsor .home .mars {
  position: relative;
  z-index: 0
}
